.copy > p:first-child {
  grid-column: 1;
  grid-row: 1;
}

.copy > h1 {
  grid-column: 1;
  grid-row: 2;
}

.copy > p:last-child {
  grid-column: 2;
  grid-row: 1 / 3;
  align-self: end;
}

@media (max-width: 800px) {
  .copy > p:first-child,
  .copy > h1,
  .copy > p:last-child {
    grid-column: auto;
    grid-row: auto;
  }
}
